@media(max-width: 800px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* HEADER */
    header .menu {
        padding: 24px;
    }

    header .menu .logo {
        width: 80px;
        height: 24px;
    }

    header .menu ul {
        display: flex;
        gap: 24px;
        font-size: 12px;
    }

    /* MAIN - 3 SECTIONS */

    .container {
        margin-top: 50px;
    }

    .container section {
        display: flex;
        padding: 24px;
    }

    /*SECTION 1*/

    .container .functions {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 70px;
        gap: 0;
    }

    .container .functions .text {
        width: 320px;
        justify-content: center;
    }

    .container .functions h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 0;
    }

    .container .functions p {
        text-align: center;
        justify-content: center;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: normal;
        margin: 24px auto 32px auto;
    }

    .container .functions form {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;

        & .enter-email {
            width: 304px;
            height: 40px;

            &::placeholder {
                font-size: 12px;
                letter-spacing: 0.4px;
            }
        }

        & .btn-top {
            width: 304px;
            height: 40px;
            font-size: 14px;
        }
    }

    .container .functions img {
        width: 304px;
        height: 225px;
        margin-bottom: 30px;
    }

    /*SECTION 2*/

    .container .objetivos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background: url(../svgs/round-background-mobile.svg) no-repeat top cover;
    }

    .container .objetivos .texto {
        width: 320px;
        margin: 70px auto 40px auto;
        & :nth-child(3){
            margin: -30px 0 20px 0;
        }
    }

    .container .objetivos h2 {
        text-align: center;
        font-size: 16px;
    }

    .container .objetivos .texto p {
        width: 100%;
        color: #615F7E;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: normal;
        margin-bottom: 32px;
        padding: 5px;
    }

    .container .objetivos .see-how {
        display: inline-block;
        text-align: center;
        font-size: 12px;
  
        & img {
            width: 12px;
        }
    }

    .container .objetivos .quote {
        width: 280px;
        height: 170px;
        font-size: 10px;
        line-height: 18px;
        padding: 25px;
        margin: 40px auto 60px auto;
        align-self: auto;

        & .aspas {
            display: flex;
            margin-bottom: 5px;
            width: 12px;
        }
    }

    .container .objetivos .quote figure {
        display: flex;
        align-items: center;
        margin-top: 12px;

        & img {
            width: 24px;
        }

        & figcaption {
            margin-left: 3px;

            & :first-child {
                font-size: 9px;
            }

            & :last-child {
                font-size: 6px;
            }
        }
    }

    .container .objetivos .illustration {
        width: 320px;
        height: 241px;
        margin: 90px auto 0 auto;
    }

    /*SECTION 3*/

    .container .submit {
        flex-direction: column;
        justify-content: center;
        padding: 54px 24px;
    }

    .container .submit .text {
        width: 320px;
        width: 280px;
        align-self: center;
    }

    .container .submit .text h2 {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .container .submit .text p {
        font-size: 14px;
        text-align: center;
    }

    .container .submit form {
        align-items: center;

        & .enter-email {
            width: 240px;
            height: 32px;
            padding-left: 8px;

            &::placeholder {
                font-size: 10px;
            }
        }

        & .btn-bottom {
            width: 240px;
            height: 32px;
            font-size: 10px;
        }
    }

    /* FOOTER */

    footer {
        flex-direction: column;
        height: fit-content;
        font-size: 16px;
        padding: 65px 40px;
    }

    footer .contato .logo {
        width: 105px;
        height: 30px;
        margin-bottom: 35px;
    }

    footer nav {
        display: flex;
        flex-direction: column;
        margin: 0 -14px;
    }

    footer nav ul:nth-child(2) {
        margin-left: 0;
    }

    footer .social-media {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 10px;
    }

    footer .social-media a {
        width: 27px;
        height: 27px;
    }

}