@media(max-width: 700px) {

    /* HEADER */
    header .menu {
        padding: 24px;
    }

    header .menu .logo {
        width: 80px;
        height: 24px;
    }

    /* MAIN - 3 SECTIONS */
    .container {
        margin-top: 70px;
    }

    .container section {
        display: flex;
        padding: 24px;
    }

    /*SECTION 1*/

    .container .functions {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 70px;
    }

    .container .functions .text {
        width: 320px;
    }

    .container .functions h2 {
        text-align: center;
        font-size: 24px;
    }

    .container .functions p {
        width: 295px;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: normal;
        margin-bottom: 32px;
    }

    .container .functions form {
        display: flex;
        width: 304px;
        flex-direction: column;
        align-items: center;

        & .enter-email {
            width: 304px;
            height: 40px;

            &::placeholder {
                font-size: 12px;
                letter-spacing: 0.4px;
            }
        }

        & .btn-top {
            width: 304px;
            height: 40px;
            font-size: 14px;
        }
    }

    .container .functions img {
        width: 304px;
        height: 225px;
        margin-bottom: 30px;
    }

    /*SECTION 2*/

    .container .objetivos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background: url(../svgs/round-background-mobile.svg) no-repeat top;
    }

    .container .objetivos .texto {
        width: 320px;
        margin-top: 70px;
    }

    .container .objetivos h2 {
        text-align: center;
        font-size: 24px;
    }

    .container .objetivos .texto p {
        width: 295px;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: normal;
        margin-bottom: 32px;
    }

    .container .objetivos .see-how {
        display: flex;
        font-size: 12px;
        & img {
            width: 12px;
        }
    }

    .container .objetivos .quote {
        width: 280px;
        height: 170px;
        font-size: 10px;
        line-height: 18px;
        padding: 25px;
        & .aspas {
            display: flex;
            margin-bottom: 5px;
            width: 12px;
        }
    }

    .container .objetivos .quote figure {
        display: flex;
        align-items: center;
        margin-top: 12px;
        & img {
            width: 24px;
        }
        & figcaption {
            margin-left: 3px;
            & :first-child {
                font-size: 9px;
            }
            & :last-child {
                font-size: 6px;
            }
        }
    }

    .container .objetivos .illustration {
        width: 320px;
        height: 241px;
        align-self: auto;
    }

}