html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

/* HEADER */

header .menu {
    padding: 65px 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #07043B;
}

header .menu ul {
    display: flex;
    gap: 5rem;
    font-size: 1.5rem;
}

header .menu ul a:hover {
    color: #6C9BFF;
    transition: 0.2s;
}

/* MAIN - 3 SECTIONS */

.container {
    margin-top: 85px;
}

.container section {
    display: flex;
    padding: 90px 80px;
}

/*SECTION 1*/

.container .functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    gap: 30px;
}

.container .functions .text {
    width: 625px;
    color: #07043B;
}

.container .functions h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 15px;
}

.container .functions p {
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 141.176%;
    letter-spacing: 0.531px;
    margin-bottom: 25px;
}

.container .functions form {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    & .enter-email {
        width: 300px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #07043B;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);

        &::placeholder {
            color: #C0C0C0;
            font-family: 'Raleway', sans-serif;
            font-size: 1.45rem;
        }
    }

    & .btn-top {
        background-color: #2F65F8;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);

        &:hover {
            background-color: #6C9BFF;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
    }
}

.container .functions img {
    width: 45%;
    height: 45%;
}

/*SECTION 2*/

.container .objetivos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../svgs/round-background-desktop.svg) no-repeat top;
    background-size: cover;
    gap: 30px;
}

.container .objetivos .texto {
    width: 645px;
    margin-top: 70px;
}

.container .objetivos h2 {
    color: #07043B;
    font-family: 'Raleway', sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 15px;
}

.container .objetivos .texto p {
    color: #07043B;
    width: 85%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 141.176%;
    letter-spacing: 0.531px;
    margin-bottom: 25px;
}

.container .objetivos .see-how {
    display: flex;
    align-items: center;
    max-width: fit-content;
    color: #3DA08F;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    & span {
        border-bottom: 1px solid #3DA08F;
    }

    & img {
        margin-left: 3px;
        margin-bottom: -3px;
    }

    & :hover {
        opacity: 0.7;
    }
}

.container .objetivos .quote {
    background-color: #FFF;
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 177%;
    padding: 25px 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);
    margin-top: 45px;

    & .aspas {
        margin-bottom: 16px;
    }
}

.container .objetivos .quote figure {
    display: flex;
    align-items: center;
    margin-top: 16px;

    & figcaption {
        display: flex;
        flex-direction: column;
        line-height: normal;
        margin-left: 8px;

        & :first-child {
            font-weight: 700;
            font-size: 1.1rem;
        }

        & :last-child {
            font-size: 1rem;
        }
    }
}

.container .objetivos .illustration {
    width: 40%;
    height: 40%;
}

/*SECTION 3*/

.container .submit {
    display: flex;
    background-color: #575988;
    padding: 100px 80px;
    color: #FFFFFF;
    justify-content: space-between;
    gap: 20px
}

.container .submit .text {
    width: 500px;
}

.container .submit .text h2 {
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.container .submit .text p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.47rem;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.container .submit form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    & .enter-email {
        width: 480px;
        height: 50px;
        padding-left: 20px;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);

        &::placeholder {
            color: #C0C0C0;
            font-family: 'Raleway', sans-serif;
            font-size: 1.45rem;
        }
    }

    & .btn-bottom {
        background-color: #2F65F8;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);

        &:hover {
            background-color: #6C9BFF;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
    }
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #07043B;
    color: #FFFFFF;
    height: 390px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.47rem;
    padding: 90px 80px;
}

footer .contato .logo {
    width: 135px;
    height: 40px;
    margin-bottom: 35px;
}

footer .contato .phone,
footer .contato .email {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 0 16px;
}

footer nav {
    display: flex;
    margin: 65px 220px;
}

footer nav ul:nth-child(2) {
    margin-left: 200px;
}

footer nav ul li {
    margin: 16px;
}

footer nav ul li a {
    color: #FFFFFF;

    &:hover {
        color: #6C9BFF;
        transition: 0.2s;
    }
}

footer .social-media {
    display: flex;
    margin-top: 85px;
    gap: 12px;
}

footer .social-media a {
    display: flex;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #6C9BFF;
        border: 1px solid #6C9BFF;
        transition: 0.2s;
    }
}