html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas: "header header"
        "main main"
        "footer footer";
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

/* HEADER */

header {
    grid-area: header;
}

header .menu {
    padding: 65px 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #07043B;
}

header .menu ul {
    display: flex;
    gap: 57px;
    font-size: 1.5rem;
}

header .menu ul a:hover {
    color: #6C9BFF;
    transition: 0.2s;
}

/* MAIN */

.container {
    grid-area: main;
    margin-top: 85px;
}

.container section {
    display: flex;
    padding: 90px 80px;
}

.container .functions {
    display: flex;
    justify-content: space-between;
}

.container .functions .text {
    width: 620px;
}

.container .functions h2 {
    color: #07043B;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 15px;
}

.container .functions p {
    color: #07043B;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 141.176%;
    letter-spacing: 0.531px;
    margin-bottom: 25px;
}

.container .functions form {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    & .enter-email {
        width: 480px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #07043B;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);

        &::placeholder {
            color: #C0C0C0;
            font-family: 'Raleway', sans-serif;
            font-size: 1.45rem;
        }
    }

    & .btn-top {
        background-color: #2F65F8;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);

        &:hover {
            background-color: #6C9BFF;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
    }
}

.container .objetivos {
    display: flex;
    justify-content: space-between;
}

.container .objetivos h2 {
    color: #07043B;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.container .objetivos p {
    color: #07043B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.container .objetivos a {
    display: flex;
    max-width: fit-content;
    color: #3DA08F;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #3DA08F;
    padding: 5px 0;
}

.container .objetivos a img {
    display: inline-block;
    margin-top: 5px;
}

.container .objetivos .quote {
    background-color: #FFF;
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    padding: 25px 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);

    & .aspas {
        margin-bottom: 16px;
    }
}

.container .objetivos .quote figure {
    display: flex;
    align-items: center;
    margin-top: 16px;

    & :first-child {
        font-weight: 700;
        font-size: 1.1rem;
        margin-right: 8px;
    }

    & :last-child {
        font-size: 1rem;
    }
}

.container .objetivos .image {
    width: 85%;
    justify-content: flex-end;
}

.container .submit {
    background-color: #575988;
    padding: 100px 80px;
    color: #FFFFFF;
    justify-content: space-between;
}

.container .submit .text {
    width: 500px;
}

.container .submit .text h2 {
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.container .submit .text p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.47rem;
}

.container .submit form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    & .enter-email {
        width: 480px;
        height: 50px;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);

        &::placeholder {
            color: #C0C0C0;
            font-family: 'Raleway', sans-serif;
            font-size: 1.45rem;
        }
    }

    & .btn-bottom {
        background-color: #2F65F8;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);

        &:hover {
            background-color: #6C9BFF;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
    }
}

/* FOOTER */

footer {
    grid-area: footer;
    padding: 90px 80px;
    display: flex;
    background-color: #07043B;
    color: #FFFFFF;
    height: 390px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.47rem;
}

footer .contato .logo {
    width: 135px;
    height: 40px;
    margin-bottom: 35px;
}

footer .contato .phone,
footer .contato .email {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 0 16px;
}

footer nav {
    display: flex;
    margin: 65px 220px;
}

footer nav ul:nth-child(2) {
    margin-left: 200px;
}

footer nav ul li {
    margin: 16px;
}

footer nav ul li a {
    color: #FFFFFF;

    &:hover {
        color: #6C9BFF;
        transition: 0.2s;
    }
}

footer .social-media {
    display: flex;
    margin-top: 85px;
    gap: 12px;
}

footer .social-media a {
    display: flex;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #6C9BFF;
        border: 1px solid #6C9BFF;
        transition: 0.2s;
    }
}